<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <!-- NAVIGATION -->
    <header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
        <h3>Pushbase </h3>
        <h3 class="detail">&nbsp; | &nbsp;</h3><h3 class="detail">{{name}}</h3>
      </div>
      <div class="mdl-layout--large-screen-only mdl-layout__header-row">
      </div>
      <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
        <a routerLink="/overview" routerLinkActive="is-active" class="mdl-layout__tab">Overview</a>
        <a routerLink="/discover" routerLinkActive="is-active" class="mdl-layout__tab">Discover</a>
        <a routerLink="/trending" routerLinkActive="is-active" class="mdl-layout__tab">Trending</a>
        <a href="#features" class="mdl-layout__tab">Profile</a>
        <a href="#features" class="mdl-layout__tab">Settings</a>
        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
          <!-- TODO: Add ToolTip for below icon -->
          <i class="material-icons" role="presentation">public</i>
          <span class="visuallyhidden">Add</span>
        </button>
      </div>
      <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    </header>
  <!-- END NAVIGATION -->

  <router-outlet>
  </router-outlet>
