<main class="mdl-layout__content">
  <div class="mdl-layout__tab-panel is-active" id="overview">
    <freed-news></freed-news>
    <while-away></while-away>
    <interested-category></interested-category>
    <interested-topics></interested-topics>
  </div>
  <div class="mdl-layout__tab-panel" id="features">
    <demo-content></demo-content>
  </div>
  <freed-footer></freed-footer>
</main>
<a href="#" target="_blank" id="view-source" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color--accent mdl-color-text--accent-contrast">Beta</a>
<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
