.profile {
  margin-top: 50px;
  margin-left: 50px;
  float: left;
  width: 29.5%;
}

.postmaker {
  float: right;

  position: absolute;
  left: -50%; /* or right 50% */
  text-align: left;
  width: 100%;
}

textarea {
  width: 780px;
}

.postmaker i {
  color: white;
}

.mdl-textfield__input {
  border-bottom: none;
}

.postmaker > .newpost {
  position: relative;
  left: 50%;
}

.newpost {
  margin-top: 50px;
  width: 100%;
  float: center;
}
.demo-card-wide.mdl-card {
  width: 100%;
}
.profile .demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 362px;
  background: url('https://scontent.fsnc1-2.fna.fbcdn.net/v/t31.0-8/18077023_10207878828242901_935951264698069610_o.jpg?oh=552b86e2ba2372c199f65b6c9800db82&oe=59C573AA') center / cover;
}
.profile .demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.newpost .demo-card-wide > .mdl-card__title {
  height: 276px;
}
