section{
  margin-top: 50px;
}
.setting-icon {
  float: left;
  display: flex;
  font-size: 30px;
}
.setting {
  display: flex;
}
.mdl-data-table__cell--non-numeric {
    vertical-align:middle;
}
.mdl-card, .mdl-cel {
  width: 100%;
}
.mdl-data-table{
  width: 100%;
}
