<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <div class="mdl-card__supporting-text">
      <h4><i class="setting-icon material-icons" role="presentation">settings</i>&nbsp; System Settings</h4>
      Here you can find settings for <strong>color themes</strong>, <strong>accessibility options</strong>, and more.
    </div>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">

  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><span class="setting"><i class="material-icons">brightness_6</i><p>&nbsp; Dark Mode</p></span></td>
      <td><label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-1">
  <input type="checkbox" id="switch-1" class="mdl-switch__input">
</label>
</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><span class="setting"><i class="material-icons">tonality</i><p>&nbsp; High Contrast</p></span></td>
      <td><label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-2">
  <input type="checkbox" id="switch-2" class="mdl-switch__input">
</label>
</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><span class="setting"><i class="material-icons">font_download</i><p>&nbsp; Larger Font</p></span></td>
      <td><label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-3">
  <input type="checkbox" id="switch-3" class="mdl-switch__input">
</label>
</td>
    </tr>
  </tbody>
</table>
  </div>
</section>

<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col-desktop mdl-cell--12-col-tablet mdl-cell--12-col-phone">
    <div class="mdl-card__supporting-text">
      <h4><i class="setting-icon material-icons" role="presentation">settings</i>&nbsp; Profile Settings</h4>
      Here you can find settings for <strong>security</strong>, <strong>blocked users</strong>, and more.
    </div>
<table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable">

  <tbody>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><span class="setting"><i class="material-icons">fingerprint</i><p>&nbsp; Incognito Mode</p></span></td>
      <td><label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-4">
  <input type="checkbox" id="switch-4" class="mdl-switch__input">
</label>
</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><span class="setting"><i class="material-icons">movie_creation</i><p>&nbsp; Video Content</p></span></td>
      <td><label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-5">
  <input type="checkbox" id="switch-5" class="mdl-switch__input" checked>
</label>
</td>
    </tr>
    <tr>
      <td class="mdl-data-table__cell--non-numeric"><span class="setting"><i class="material-icons">photo</i><p>&nbsp; Image Content</p></span></td>
      <td><label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="switch-6">
  <input type="checkbox" id="switch-6" class="mdl-switch__input" checked>
</label>
</td>
    </tr>
  </tbody>
</table>
  </div>
</section>
