<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<section class="section--footer mdl-color--accent mdl-grid">
  <div class="section__circle--big">
      <button class="mdl-button mdl-cell mdl-cell---col mdl-cell--2-col-phone mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--white">
        <!-- TODO: Add ToolTip for below icon -->
        <i class="material-icons" role="presentation">whatshot</i>
        <span class="visuallyhidden">Add</span>
      </button>
    </div>
  <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
    <h5>TED Talks: Redefining Yourself</h5>
    Fixie selfies tattooed prism activated charcoal hexagon marfa irony church-key. Fanny pack sartorial master cleanse adaptogen irony roof party man bun tousled umami cold-pressed.
  </div>
  <div class="section__circle--big">
      <button class="mdl-button mdl-cell mdl-cell---col mdl-cell--2-col-phone mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--white">
        <!-- TODO: Add ToolTip for below icon -->
        <i class="material-icons" role="presentation">whatshot</i>
        <span class="visuallyhidden">Add</span>
      </button>
    </div>
  <div class="section__text mdl-cell mdl-cell--4-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
    <h5>Facebook: Going out of busineess</h5>
    Fixie selfies tattooed prism activated charcoal hexagon marfa irony church-key. Fanny pack sartorial master cleanse adaptogen irony roof party man bun tousled umami cold-pressed.
  </div>
</section>
