<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
      <h4 class="mdl-cell mdl-cell--12-col">While you were away...</h4>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <div class="section__circle-container__circle mdl-color--primary"></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>Poverty was abolished</h5>
        Chillwave brunch asymmetrical chia, small batch 90's cronut mlkshk deep v subway tile fixie. Bicycle rights tilde aesthetic freegan iPhone. Fixie selfies tattooed prism activated <a href="#">charcoal hexagon</a>.
      </div>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <div class="section__circle-container__circle mdl-color--primary"></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>John Doe updated his status</h5>
        Chillwave brunch asymmetrical chia, small batch 90's cronut mlkshk deep v subway tile fixie. Bicycle rights tilde aesthetic freegan <a href="#">iPhone</a>. Fixie selfies tattooed prism activated charcoal hexagon.
      </div>
      <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
        <div class="section__circle-container__circle mdl-color--primary"></div>
      </div>
      <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
        <h5>Amazon bought Whole Foods</h5>
        Chillwave brunch <a href="#">asymmetrical chia</a>, small batch 90's cronut mlkshk deep v subway tile fixie. Bicycle rights tilde aesthetic freegan iPhone. Fixie selfies tattooed prism activated charcoal hexagon.
      </div>
    </div>
    <div class="mdl-card__actions">
      <a href="#" class="mdl-button">See what you missed</a>
    </div>
  </div>
  <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
    <i class="material-icons">more_vert</i>
  </button>
  <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
    <li class="mdl-menu__item">Lorem</li>
    <li class="mdl-menu__item" disabled>Ipsum</li>
    <li class="mdl-menu__item">Dolor</li>
  </ul>
</section>
